.list-group-item:hover{
    cursor: pointer;
    color: rgb(78, 135, 226);

}
.list-group{
    width: 40%;
    margin:2%;
}
.list-group-item{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.divList{
    height: 20em;
    overflow-y:scroll ;
}
